<div id="<%=dom_id department%>">
  <h3 class="text-lg font-bold mb-4">department</h3>

  <p><%= department.name %></p>

  <p><%= department.motto %></p>

  <p><%= department.mission %></p>
  
</div>

<div>
  <%# new event %>
  <%= link_to 'new event', new_department_event_path(@department) %>
  <%# render events %>
  <% if department.events.any? %>
    <h2>Department Events</h2>
    <div><%= pluralize department.events.count, department.name+' Event' %></div>

    <div id='events'>
      <% department.events.each do |event| %>
        <%= link_to event.name, event %>
        <%= event.date.strftime('%d-%b-%y')%>
      <% end %>
    </div>
  <% end %>
</div>
