<div id='departments'>
  <% @departments.each do |dept| %>
    <div>
      <strong><%= link_to dept.name, dept %></strong>
    </div>
    <div>
      <%= dept.motto %>
    </div>
    <div>
      <%= dept.mission %>
    </div>
  <% end %>
</div>

<%# new dpt link %>
<%= turbo_frame_tag Department.new %>

<div>
  <%= link_to 'new dpt', new_department_path, data: { turbo_frame: dom_id(Department.new) } %>
</div>