<div class="max-w-5xl mx-auto sm:px-6 lg:px-8 py-8">
  <h2 class="text-lg font-bold flex justify-center mb-4">Event</h2>

  <p><%= event.name %></p>
  <%= event.date.strftime('%d-%b-%y')%>

  <div>
  <%# guests list %>
  <% if event.guests.any? %>
    <h3>Guest List</h3>
    <ol>
      <% event.guests.each do |guest| %>
        <li><%= guest.name %></li>
      <% end %>
    </ol>
  <% else %>
    <p>No guests yet.</p>
  <% end %>
  </div>

  <%# add new guest %>
  <%= turbo_frame_tag Guest.new %>

  <div>
    <%= link_to 'add guest', new_event_guests_url(@event), data: { turbo_frame: dom_id(Guest.new) }, class: "my-4 py-2 px-4 bg-blue-500 text-white rounded hover:bg-blue-700" %>
  </div>
</div>
